@media (max-width: 1500px) {
    .regist__form img {
        display: none;
    }
}
@media (max-width: 1024px) {
    .nav__main {
        flex-grow: 1;
    }
    
}
@media (max-width: 992px) {
    .nav__contacts, .nav__social {
        width: 20%;
    }
    header p {
        font-size: 5vw;
        line-height: 7vw;
    }
}
@media (max-width: 768px) {
    .nav:hover {
        background: transparent;

    }
    .nav:hover .nav__contacts a, .nav:hover .nav__links a, .nav:hover .nav__social a {
        color: white;
    }
    .nav:hover .hamburger span {
        background: white;
    }
    
    .nav__links {
        position: fixed;
        width: 100vw;
        height: 100vh;
        top: 0;
        right: -100vw;
        background-color: rgba(0, 0, 0, 0.849);
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap: 30px;
        padding-top: 15vh;
        transition: 0.4s;
    }
    .nav__links a {
        font-size: 30px;
        font-weight: bold;
        line-height: 36px;
        display: block;
        border-bottom: 2px solid white;

    }
    .nav__links_active {
        right: 0;
    }
    .nav__contacts {
        position: fixed;
        width: 100vw;
        height: 20vh;
        bottom: 5vh;
        right: -100vw;
        text-align: center;
        flex-direction: column;
        justify-content: center;
        gap: 15px;
        transition: 0.4s;
        z-index: 2;
    }
    .nav__contacts_active {
        right: 0;
    }
    .nav__social {
        position: fixed;
        width: 100vw;
        height: 10vh;
        bottom: 18vh;
        right: -100vw;
        text-align: center;
        flex-direction: row;
        justify-content: center;
        gap: 15px;
        transition: 0.4s;        
    }
    .nav__social_active {
        right: 0;
    }
    .hamburger {
        display: block;
        width: 40px;
        height: 20px;
        position: fixed;
        top: 30px;
        left: 16px;
        background: transparent;
    }
    .hamburger span {
        width: 40px;
        height: 2px;
        background: white;
        display: block;
        position: absolute;
        left: 0;
        transition: 0.4s;
        box-shadow: 0px 3px 3px #D74B5E;
    }
    .hamburger span:nth-child(1) {
        top: 0;
        
    }
    .hamburger span:nth-child(2) {
        top: 50%;
        transform: translateY(-1px);
    }
    .hamburger span:nth-child(3) {
        bottom: 0;
    }
    .hamburger_active span:nth-child(1) {
        top: 50%;
        transform: translateY(-1px) rotate(45deg);
        
    }
    .hamburger_active span:nth-child(2) {
        opacity: 0;
    }
    .hamburger_active span:nth-child(3) {
        bottom: 50%;
        transform: translateY(1px) rotate(-45deg);
    }
    h1 {
        font-size: 17vw;
    }
    hr {
        height: 0.5vw;
        margin: 5vw auto;
    }
    header {
        padding: 0px 16px;
    }
    header a {
        font-size: 4vw;
        padding: 5vw;
    }
    .catalog::after {
        display: none;
    }
    .regist {
        padding: 40px 16px;
    }
    .regist form {
        width: 100%;
        padding: 24px 16px;
    }
    .catalog__list {
        position: static;
        visibility: visible;
        opacity: 1;
        border-radius: 0;
        background-repeat: no-repeat;
        background-size: cover;
        
        background-image: url(../picture/catalog-bg.svg);
    }
    .catalog__list h2 {
        display: block;
        font-size: 28px;
    }

}
@media (max-width: 375px) {
    .nav__links a {
        font-size: 20px;
        font-weight: bold;
        line-height: 26px;
    }
}
