html {
    scroll-behavior: smooth;
}

body   {
    font-family: 'Comfortaa', cursive;
}
.adress iframe {
    width: 100%;
    height: 70vh;
    border-radius: 10px;
}
.adress footer {
    bottom: 0;
    position: fixed;
}
.scroll_none {
    overflow: hidden;
}
body::-webkit-scrollbar-thumb{
    background-color: #D74B5E;
    border-radius: 10px;
  }
body::-webkit-scrollbar{
    background-color: white;
    width: 10px;
}
form iframe {
    display: none;
}
nav {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 16px 32px 0px 32px;
    align-items: flex-start;
    transition: 0.4s;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    z-index: 5;    
}
nav:hover {
    background-color: white;
}
.nav a  {
    color: white;
    transition: 0.4s;
}
nav a:hover {
    text-shadow: 0 0 2px black;
}
.nav:hover .nav__contacts a, .nav:hover .nav__links a, .nav:hover .nav__social a {
    color: black;
}
.nav:hover .hamburger span {
    background: black;
}

.nav__contacts {
    width: 15%;
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
}
.nav__main {
    text-align: center;
    
}
.nav__logo {
    display: inline-block;
    width: 160px;
    height: 56px;
}
.nav__logo img {
    width: 100%;
    height: 100%;
}
.nav__links {
    padding: 10px 10px 0px;
    display: flex;
    gap: 16px;
    justify-content: space-between;
}
.nav__links a {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
    padding-bottom: 8px;  
}


.nav__social {
    width: 15%; 
    display: flex;  
    gap: 16px;
    justify-content: flex-end;
    
}
.nav__social a {
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 18px;
    padding-left: 10px;
}
.nav__social a:hover {
    transform: scale(1.2);
}
.nav_white {
    background-color: white;
}
.nav_white a {
    color: black;
}

.catalog::after {
    content: ">";
    font-size: 24px;
    transform: rotateZ(90deg);
    display: inline-block;
    margin: 0px 5px;
    transition: 0.4s;
}
.catalog:hover .catalog::after {
    transform: rotate(270deg);
}
.catalog_open::after {
    transform: rotateZ(90deg) rotateY(180deg);  
}
.catalog__list {
    position: fixed;
    width: 100%;
    height: auto;
    background-color: rgba(255, 255, 255, 0.884);
    top: -50vh;
    border-radius: 10px;
    opacity: 0;
    visibility: hidden;
    transition: 0.4s;
    z-index: 3;
    right: 0;
    padding: 40px 16px;
}
.catalog__list_open {
    visibility: visible;
    opacity: 1;
    top: 113px;
    transition: 0.4s;
}
.catalog__elements {
    display: flex;
    gap: 1vw;
    flex-wrap: wrap;
    justify-content: space-evenly;   
}
.catalog__elements div {
    justify-content: space-around;
    width: 20%;
    min-width: 280px;
}
.catalog__list h2 {
    display: none;
    text-align: center;
    font-weight: bold;
    color: #D74B5E;
    margin: 30px 0px;

}
.catalog__list h3 {
    padding-top: 20px;
    padding-bottom: 10px;
    font-weight: bold;
    font-size: 18px;
    position: relative;
}
.catalog__list h3::before {
    content: "";
    width: 100%;
    height: 1px;
    background-color: black;
    position: absolute;
    left: 0;
    bottom: 5px;
}
.catalog__list a {
    color: #D74B5E;
    padding-bottom: 5px;
    font-size: 14px;
    margin-bottom: 0.3vw;
    display: inline-block;
}
.catalog__list a:hover {
    text-decoration: underline;
}



.hamburger {
    display: none;
}

header, .adress {
    height: 100vh;
    background-image: url(../picture/bg.svg);
    background-repeat: no-repeat;
    background-size: 500%;
    background-position: center center;
    animation: headerBg 40s linear infinite;
    display: flex;
    justify-content: center ;
    align-items: center;
    flex-direction: column;
    padding: 0px 32px;
}
@keyframes headerBg  {
    0% {
        background-position: center center;
    }
    25% {
        background-position: left center;
    }
    50% {
        background-position: center center;
    }
    75% {
        background-position: right center;
    }
    100% {
        background-position: center center;
    }
}
.text__prais {
    font-size: 15px;
}
h1 {
    font-size: 16vh;
    animation: h1Color 40s linear infinite;
}
@keyframes h1Color  {
    0% {
        color: #D74B5E;
    }
    25% {
        color: white; 
    }
    50% {
        color: #D74B5E; 
    }
    75% {
        color: #E997A1;
    }
    100% {
        color: #D74B5E;
    }
}
hr {
    display: block;
    width: 80%;
    height: 0.5vh;
    background-color: white;
    margin: 3vh auto;
    animation: hrColor 40s linear infinite;
    border-radius: 3px;
    
}
@keyframes hrColor  {
    0% {
        color: #D74B5E;
    }
    25% {
        color: white; 
    }
    50% {
        color: #D74B5E; 
    }
    75% {
        color: #E997A1;
    }
    100% {
        color: #D74B5E;
    }
}

header p {
    text-align: center;
    font-size: 5vh;
    line-height: 5.5vh;
    color: white;
    animation: headerPimpulse 40s infinite linear;
    margin-bottom: 5vh; 
}
@keyframes headerPimpulse {
    0% {
        text-shadow: -10px 0 15px black;
    }
    50% {
        text-shadow: 10px 0 15px black;
    }
    100% {
        text-shadow: -10px 0 15px black;
    }
}
header a { 
    border: 2px solid #d74b5e00;
    min-width: 280px;
    text-align: center;
    display: block;
    margin: 0 auto;
    font-size: 2vw;
    padding: 2vw 4vw;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.664);
    color: #D74B5E;
    border-radius: 5px;
    transition: 0.4s;
    width: 50%;
}
header a:hover {
    color: white;
    background-color: #D74B5E;
}
.regist {   
    padding: 40px 32px 40px;
    background-color: white;
    box-shadow: 0px 0px 20px black;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 900px;
}
.regist__form {
    padding: 48px 24px;
    width: 50vw;
    box-shadow: 0px 0px 15px #3A7207;
    border-radius: 15px;
    position: relative;
}
.granat {
    position: absolute;
    width: 200px;
    top: -113px;
    right: 0;
    z-index: 2;
}
.regist h2 {
    font-size: 48px;
    text-align: center;
    margin-bottom: 5vh;
    font-weight: bold;
    color: #3A7207;
}
form h3 {
    font-size: 24px;
    text-align: center;
    margin-bottom: 30px;
    font-weight: bold;
    color: #3A7207;
}
.input-box, .textarea-box {
    width: 100%;
    position: relative;
    margin-bottom: 20px;
}
.textarea-box span {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 16px;
    color: #3A7207;
    pointer-events: none;
    background-color: white;
    padding: 0px 5px;
    transition: 0.4s;
}
.textarea-box .spanTextarea_active {
    top: 0;
    transform: translateY(-50%) scale(0.9);
}
.textarea-box .spanTextarea_color {
    color: #3A7207;
}

.input-box span {
    position: absolute;       
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    font-size: 16px;
    color: #3A7207;
    pointer-events: none;
    background-color: white;
    padding: 0px 5px;
    transition: 0.4s;
}
.input-box .span_active {
    top: 0;
    transform: translateY(-50%) scale(0.9);
}
.input-box .span_color {
    color: #3A7207;
    
}
.check-box {
    padding-bottom: 20px;   
}
.check-box__input {
    width: 15px;
    height: 15px;
    opacity: 0;
    position: relative;

}
.check-box__text {
    position: relative;
}
.check-box__text::before {
    content: "";
    display: block;
    width: 15px;
    height: 15px;
    background-color: transparent;
    border: 1px solid #3A7207;
    border-radius: 5px;
    position: absolute;
    top: 0;
    left: -20px;
    opacity: 1;
}
.check-box__text::after {
    content: "";
    display: block;
    width: 15px;
    height: 15px;
    background-image: url(../picture/checkbox.svg);
    border-radius: 5px;
    position: absolute;
    top: 0;
    left: -20px;
    opacity: 1;
    transform: scale(0);
    transition: 0.4s;
}
.check-box__input:checked + .check-box__text::after {
    transform: scale(1);
}
.input-box input,textarea {
    width: 100%;
    padding: 20px;
    border: 2px solid #3A7207;
    top: -10px;
    border-radius: 10px;
    font-size: 16px;
    color: #3A7207;
    resize: vertical;
    transition: 0.4s;
    
}
.input-box input:focus {
    box-shadow: 0px 5px 10px #3A7207;
    border-color: #2b490f;
}

textarea {
    min-height: 100px;
    max-height: 300px;   
}
textarea:focus {
    box-shadow: 0px 5px 10px #3A7207;
    border-color: #2b490f;
}
.regist__form button {
    font-size: 20px;
    width: 50%;
    padding: 20px;
    border: 2px solid #3A7207;
    background-color: #3A7207;
    color: white;
    text-align: center;
    border-radius: 10px;
    display: block;
    margin: 0 auto;
    transition: 0.4s;
    margin-bottom: 10px;
    min-width: 250px;
}
.regist__form button:hover {
    background-color: white;
    color: #3A7207;
}
form p {
    color: #3A7207;
    text-align: center;
} 
.submit-wrapper {
    background-color: white;
    width: 100%;
    height: 100%;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    opacity: 0;
    visibility: hidden;
    transition: 0.4s;
}
.submit-wrapper_active {
    opacity: 1;
    visibility: visible;
}
.submit-wrapper img {
    width: 30%; 
    margin-bottom: 10vh;   
}
.submit-wrapper p {
    font-size: 5vh;
    font-weight: bold;
    line-height: 6vh;
    color: #03CA49;
}
.main-wraper {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.705);
    z-index: 1;
    display: block;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    transition: 0.4s;
}
.main-wraper_active {
    opacity: 1;
    visibility: visible;
}

footer {
    background-color: #D74B5E;
    color: white;
    width: 100%;
    padding: 16px 16px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
footer p {
    text-align: center;
}
/* страница прайс */

.bread-crumbs {
    position: absolute;
    top: 114px;
    width: 100%;
    padding: 8px 16px;
    z-index: 2;
}
.bread-crumbs a {
    border-bottom: 1px solid white;
    padding-bottom: 3px;
    color: white;
}
.header__arrow {
    font-size: 50px;
    z-index: 1;
}
.body-prais {
       
}
.body-prais h1 {
    text-align: center;
    
}
.prais-header {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    background-image: url(../picture/bg.svg);
    animation: headerBg 40s linear infinite;
    background-repeat: no-repeat;
    background-size: 500%;
    background-position: center center;
}
.header__arrow {

}
.header__arrow {
    font-size: 15vh;
    z-index: 1;
    position: absolute;
    bottom: 10vh;
    color: white;
    animation: arrow 1s infinite alternate-reverse;
}
@keyframes arrow {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(5vh);
    }
}
.prais__item {
    border-radius: 10px;
    padding: 0;
    box-shadow: 0px 0px 10px black;
    width: 30%;
    text-align: center;
    background-color: rgb(174, 247, 174);
    display: flex;
    flex-direction: column;
    min-width: 280px;
    justify-content: flex-end;

}
.prais__list_one {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 48px;
}
.prais__list {
    padding: 48px 16px;
}
.prais__list h2 {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 32px;
    text-align: center;
}
.prais__item li {
    border-bottom: green 1px solid;
    padding: 16px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;  
    font-size: 16px; 
    line-height: 26px;
}
.prais__item .name {
    background-color: green;
    padding: 32px 8px;
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 24px;
    border-radius: 5px;
}
.prais__item a {
    color: green;
    background-color: white;
    width: 100%;
    display: block;
    padding: 16px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    font-weight: bold;
    font-size: 18px;
    transition: 0.4s;
}
.prais__item a:hover {
    transform: scale(105%);
    box-shadow: 0px 0px 15px;
    border-radius: 5px;
}
.prais__item .prais__order {
    padding: 0;
}
.prais__item_orange .name {
    background-color: orange;

}
.prais__item_orange {
    background-color: rgba(255, 166, 0, 0.541);
}
.prais__item_orange li {
    border-color: orange;
}
.prais__item_orange a {
    color: orange;
}
.prais__item_red .name {
    background-color: rgb(185, 0, 0);

}
.prais__item_red {
    background-color: rgba(255, 0, 0, 0.5);
}
.prais__item_red li {
    border-color: red;
}
.prais__item_red a {
    color: red;
}
.prais__item_blue .name {
    background-color: rgb(0, 140, 255);

}
.prais__item_blue {
    background-color: rgba(26, 174, 243, 0.568)
}
.prais__item_blue li {
    border-color: blue;
}
.prais__item_blue a {
    color: rgb(0, 140, 255);;
}
.prais__item_violet .name {
    background-color: rgb(243, 54, 243);

}
.prais__item_violet {
    background-color: rgba(238, 130, 238, 0.726);
}
.prais__item_violet li {
    border-color: rgb(255, 0, 255);
}
.prais__item_violet a {
    color: violet;
}
.prais__item .empty {
    flex-grow: 1;
    font-size: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.semi-empty {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.prais__item .name_big {
    flex-grow: 1;
}
.prais__item_center {
    margin: 0 auto;
    margin-bottom: 48px;
}




